workloads/smart-home-actions/config/flows.json
[
    {
        "id": "523660f.200d1a",
        "type": "tab",
        "label": "Event Handler",
        "disabled": false,
        "info": ""
    },
    {
        "id": "edeb291e.447a98",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "342a5e81.ea2d92",
        "type": "tab",
        "label": "AssistantCommands",
        "disabled": false,
        "info": ""
    },
    {
        "id": "87b9b09.9bbcf5",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.1.202",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "19435539.55424b",
        "type": "pushover-keys",
        "z": "",
        "name": ""
    },
    {
        "id": "63c22f12.3715a",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "22da66b9.c135ca",
        "type": "webhookrelay",
        "z": "342a5e81.ea2d92",
        "buckets": "GoogleHomeCommands",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "86ba2941.aa25a8",
                "2d13fb58.615f84"
            ]
        ]
    },
    {
        "id": "1aeaf8ef.353e57",
        "type": "mqtt out",
        "z": "342a5e81.ea2d92",
        "name": "",
        "topic": "home/chromecast/start",
        "qos": "",
        "retain": "",
        "broker": "87b9b09.9bbcf5",
        "x": 1340,
        "y": 380,
        "wires": []
    },
    {
        "id": "86ba2941.aa25a8",
        "type": "json",
        "z": "342a5e81.ea2d92",
        "name": "",
        "property": "payload.body",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 520,
        "wires": [
            [
                "2fc48438.4b0f4c"
            ]
        ]
    },
    {
        "id": "2fc48438.4b0f4c",
        "type": "switch",
        "z": "342a5e81.ea2d92",
        "name": "chooseCommand",
        "property": "payload.body.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "loadDash",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loadSysDash",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loadDashTV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loadSysDashTV",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 710,
        "y": 520,
        "wires": [
            [
                "f2c34e92.95b39"
            ],
            [
                "fc41ad33.ff1dd"
            ],
            [
                "597387d1.7175d8"
            ],
            [
                "7968fe11.57313"
            ]
        ]
    },
    {
        "id": "fc41ad33.ff1dd",
        "type": "template",
        "z": "342a5e81.ea2d92",
        "name": "Google Nest - System Dash",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://grafana.192.168.1.203.nip.io/playlists/play/1?kiosk=tv&autofitpanels",
        "output": "str",
        "x": 1040,
        "y": 440,
        "wires": [
            [
                "1aeaf8ef.353e57"
            ]
        ]
    },
    {
        "id": "f1448e51.b5356",
        "type": "mqtt in",
        "z": "edeb291e.447a98",
        "name": "oil sensor",
        "topic": "sensors/rtl-sdr/oil",
        "qos": "2",
        "datatype": "json",
        "broker": "87b9b09.9bbcf5",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "ea68a283.44229"
            ]
        ]
    },
    {
        "id": "75767643.4cbf28",
        "type": "template",
        "z": "edeb291e.447a98",
        "name": "Influx convert",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "oil,id={{payload.id}},model={{payload.model}} temp={{payload.temperature_C}},depth={{payload.depth_cm}} {{payload.time}}000000",
        "output": "str",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "216bc960.c3e5d6"
            ]
        ]
    },
    {
        "id": "ea68a283.44229",
        "type": "function",
        "z": "edeb291e.447a98",
        "name": "Convert time",
        "func": "\nmsg.payload.time = new Date(msg.payload.time).getTime()\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "75767643.4cbf28"
            ]
        ]
    },
    {
        "id": "216bc960.c3e5d6",
        "type": "mqtt out",
        "z": "edeb291e.447a98",
        "name": "influx out",
        "topic": "telegraf/sensors/oil",
        "qos": "",
        "retain": "",
        "broker": "87b9b09.9bbcf5",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "f2c34e92.95b39",
        "type": "template",
        "z": "342a5e81.ea2d92",
        "name": "Google Nest - Home Dash",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://grafana.192.168.1.203.nip.io/playlists/play/2?kiosk=tv&autofitpanels",
        "output": "str",
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "1aeaf8ef.353e57"
            ]
        ]
    },
    {
        "id": "597387d1.7175d8",
        "type": "template",
        "z": "342a5e81.ea2d92",
        "name": "TV - Home Dash",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://grafana.192.168.1.203.nip.io/playlists/play/2?kiosk=tv&autofitpanels",
        "output": "str",
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "c2ed2a0b.a43308"
            ]
        ]
    },
    {
        "id": "7968fe11.57313",
        "type": "template",
        "z": "342a5e81.ea2d92",
        "name": "TV - System Dash",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://grafana.192.168.1.203.nip.io/playlists/play/1?kiosk=tv&autofitpanels",
        "output": "str",
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "c2ed2a0b.a43308"
            ]
        ]
    },
    {
        "id": "c2ed2a0b.a43308",
        "type": "mqtt out",
        "z": "342a5e81.ea2d92",
        "name": "",
        "topic": "lgtv/set/open_max",
        "qos": "",
        "retain": "",
        "broker": "87b9b09.9bbcf5",
        "x": 1290,
        "y": 580,
        "wires": []
    },
    {
        "id": "d025850.b5baf78",
        "type": "mqtt in",
        "z": "523660f.200d1a",
        "name": "",
        "topic": "events/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "87b9b09.9bbcf5",
        "x": 240,
        "y": 280,
        "wires": [
            [
                "b089e37c.6fdab"
            ]
        ]
    },
    {
        "id": "b089e37c.6fdab",
        "type": "change",
        "z": "523660f.200d1a",
        "name": "Set properties",
        "rules": [
            {
                "t": "set",
                "p": "priority",
                "pt": "msg",
                "to": "$lookup({\"WARNING\": 0, \"OK\": 0, \"CRITICAL\": 1}, $split(msg.topic,\"/\")[-1])",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "class",
                "pt": "msg",
                "to": "$split(msg.topic,\"/\")[1]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "a05fb76.4ed4448"
            ]
        ]
    },
    {
        "id": "ea425031.e907",
        "type": "pushover api",
        "z": "523660f.200d1a",
        "keys": "19435539.55424b",
        "title": "Squirrel Cottage",
        "name": "Pushover Notify",
        "x": 1040,
        "y": 400,
        "wires": []
    },
    {
        "id": "a05fb76.4ed4448",
        "type": "switch",
        "z": "523660f.200d1a",
        "name": "Classify",
        "property": "class",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "home",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "system",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 280,
        "wires": [
            [
                "ea425031.e907",
                "5196eeb.895001",
                "9f67ad22.561d1"
            ],
            [
                "ea425031.e907",
                "9f67ad22.561d1"
            ]
        ]
    },
    {
        "id": "5196eeb.895001",
        "type": "mqtt out",
        "z": "523660f.200d1a",
        "name": "LGTV Notify",
        "topic": "lgtv/set/toast",
        "qos": "",
        "retain": "",
        "broker": "87b9b09.9bbcf5",
        "x": 1030,
        "y": 280,
        "wires": []
    },
    {
        "id": "989ecb9.ab61638",
        "type": "http request",
        "z": "523660f.200d1a",
        "name": "logDNA",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://logs.logdna.com/logs/ingest?hostname=SquirrelCottage",
        "tls": "63c22f12.3715a",
        "persist": false,
        "proxy": "",
        "authType": "bearer",
        "x": 1200,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9f67ad22.561d1",
        "type": "template",
        "z": "523660f.200d1a",
        "name": "http body",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"lines\": [\n        {\n            \"line\": \"Example's {{{payload}}}\",\n            \"app\": \"{{{class}}}\",\n            \"level\": \"INFO\"\n        }\n    ]\n}",
        "output": "json",
        "x": 1020,
        "y": 160,
        "wires": [
            [
                "989ecb9.ab61638"
            ]
        ]
    },
    {
        "id": "53146167.60cff",
        "type": "mqtt in",
        "z": "523660f.200d1a",
        "name": "",
        "topic": "events-json/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "87b9b09.9bbcf5",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "1c053f04.175e71"
            ]
        ]
    },
    {
        "id": "8a7f66c9.d4b768",
        "type": "change",
        "z": "523660f.200d1a",
        "name": "convert",
        "rules": [
            {
                "t": "set",
                "p": "image",
                "pt": "msg",
                "to": "msg.payload.url",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.payload.msg",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 440,
        "wires": [
            [
                "b089e37c.6fdab"
            ]
        ]
    },
    {
        "id": "1c053f04.175e71",
        "type": "json",
        "z": "523660f.200d1a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "8a7f66c9.d4b768"
            ]
        ]
    },
    {
        "id": "f7176ba3.61b108",
        "type": "mqtt in",
        "z": "edeb291e.447a98",
        "name": "",
        "topic": "sensors/arlo/metrics/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "87b9b09.9bbcf5",
        "x": 180,
        "y": 520,
        "wires": [
            [
                "3a20cd8d.1de242"
            ]
        ]
    },
    {
        "id": "ba689e1d.ef6f5",
        "type": "template",
        "z": "edeb291e.447a98",
        "name": "Influx convert",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "arlo,device={{payload.device}},id={{payload.id}} batteryLevel={{payload.batteryLevel}},signalStrength={{payload.signalStrength}},connectionState={{payload.connectionState}}",
        "output": "str",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "43b60d44.bfa324"
            ]
        ]
    },
    {
        "id": "43b60d44.bfa324",
        "type": "mqtt out",
        "z": "edeb291e.447a98",
        "name": "influx out",
        "topic": "telegraf/sensors/arlo",
        "qos": "",
        "retain": "",
        "broker": "87b9b09.9bbcf5",
        "x": 820,
        "y": 560,
        "wires": []
    },
    {
        "id": "3a20cd8d.1de242",
        "type": "json",
        "z": "edeb291e.447a98",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 520,
        "wires": [
            [
                "ba689e1d.ef6f5"
            ]
        ]
    },
    {
        "id": "a5c0e805.abe6d8",
        "type": "mqtt in",
        "z": "edeb291e.447a98",
        "name": "",
        "topic": "sensors/arlo/motion/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "87b9b09.9bbcf5",
        "x": 180,
        "y": 620,
        "wires": [
            [
                "111a1041.aa998"
            ]
        ]
    },
    {
        "id": "111a1041.aa998",
        "type": "json",
        "z": "edeb291e.447a98",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 620,
        "wires": [
            [
                "b929e313.fe7e6"
            ]
        ]
    },
    {
        "id": "b929e313.fe7e6",
        "type": "template",
        "z": "edeb291e.447a98",
        "name": "Influx convert",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "arlo,device={{payload.device}},id={{payload.id}} motion={{payload.motion}}",
        "output": "str",
        "x": 630,
        "y": 620,
        "wires": [
            [
                "43b60d44.bfa324"
            ]
        ]
    },
    {
        "id": "2d13fb58.615f84",
        "type": "debug",
        "z": "342a5e81.ea2d92",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 560,
        "y": 300,
        "wires": []
    }
]