workloads/smart-home-actions/config/flows.json
[
    {
        "id": "523660f.200d1a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "edeb291e.447a98",
        "type": "tab",
        "label": "influx xform",
        "disabled": false,
        "info": ""
    },
    {
        "id": "342a5e81.ea2d92",
        "type": "tab",
        "label": "AssistantCommands",
        "disabled": false,
        "info": ""
    },
    {
        "id": "87b9b09.9bbcf5",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.1.202",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d87e6ae.3ec6898",
        "type": "http in",
        "z": "523660f.200d1a",
        "name": "",
        "url": "/test1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "5600cf1.e0ae73"
            ]
        ]
    },
    {
        "id": "5600cf1.e0ae73",
        "type": "template",
        "z": "523660f.200d1a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Hello World - Endpoint 1",
        "output": "str",
        "x": 520,
        "y": 340,
        "wires": [
            [
                "e89840d.ce4abc"
            ]
        ]
    },
    {
        "id": "e89840d.ce4abc",
        "type": "http response",
        "z": "523660f.200d1a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "22da66b9.c135ca",
        "type": "webhookrelay",
        "z": "342a5e81.ea2d92",
        "buckets": "GoogleHomeCommands",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "86ba2941.aa25a8"
            ]
        ]
    },
    {
        "id": "1aeaf8ef.353e57",
        "type": "mqtt out",
        "z": "342a5e81.ea2d92",
        "name": "",
        "topic": "home/chromecast/start",
        "qos": "",
        "retain": "",
        "broker": "87b9b09.9bbcf5",
        "x": 1340,
        "y": 380,
        "wires": []
    },
    {
        "id": "86ba2941.aa25a8",
        "type": "json",
        "z": "342a5e81.ea2d92",
        "name": "",
        "property": "payload.body",
        "action": "",
        "pretty": false,
        "x": 500,
        "y": 520,
        "wires": [
            [
                "2fc48438.4b0f4c"
            ]
        ]
    },
    {
        "id": "2fc48438.4b0f4c",
        "type": "switch",
        "z": "342a5e81.ea2d92",
        "name": "chooseCommand",
        "property": "payload.body.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "loadDash",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loadSysDash",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loadDashTV",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "loadSysDashTV",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 710,
        "y": 520,
        "wires": [
            [
                "f2c34e92.95b39"
            ],
            [
                "fc41ad33.ff1dd"
            ],
            [
                "597387d1.7175d8"
            ],
            [
                "7968fe11.57313"
            ]
        ]
    },
    {
        "id": "fc41ad33.ff1dd",
        "type": "template",
        "z": "342a5e81.ea2d92",
        "name": "Google Nest - System Dash",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://grafana.192.168.1.203.nip.io/playlists/play/1?kiosk=tv&autofitpanels",
        "output": "str",
        "x": 1040,
        "y": 440,
        "wires": [
            [
                "1aeaf8ef.353e57"
            ]
        ]
    },
    {
        "id": "f1448e51.b5356",
        "type": "mqtt in",
        "z": "edeb291e.447a98",
        "name": "oil sensor",
        "topic": "sensors/rtl-sdr/oil",
        "qos": "2",
        "datatype": "json",
        "broker": "87b9b09.9bbcf5",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "ea68a283.44229"
            ]
        ]
    },
    {
        "id": "75767643.4cbf28",
        "type": "template",
        "z": "edeb291e.447a98",
        "name": "Influx convert",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "oil,id={{payload.id}},model={{payload.model}} temp={{payload.temperature_C}},depth={{payload.depth_cm}} {{payload.time}}000000",
        "output": "str",
        "x": 630,
        "y": 400,
        "wires": [
            [
                "216bc960.c3e5d6"
            ]
        ]
    },
    {
        "id": "ea68a283.44229",
        "type": "function",
        "z": "edeb291e.447a98",
        "name": "Convert time",
        "func": "\nmsg.payload.time = new Date(msg.payload.time).getTime()\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "75767643.4cbf28"
            ]
        ]
    },
    {
        "id": "216bc960.c3e5d6",
        "type": "mqtt out",
        "z": "edeb291e.447a98",
        "name": "influx out",
        "topic": "telegraf/sensors/oil",
        "qos": "",
        "retain": "",
        "broker": "87b9b09.9bbcf5",
        "x": 800,
        "y": 280,
        "wires": []
    },
    {
        "id": "f2c34e92.95b39",
        "type": "template",
        "z": "342a5e81.ea2d92",
        "name": "Google Nest - Home Dash",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://grafana.192.168.1.203.nip.io/playlists/play/2?kiosk=tv&autofitpanels",
        "output": "str",
        "x": 1040,
        "y": 340,
        "wires": [
            [
                "1aeaf8ef.353e57"
            ]
        ]
    },
    {
        "id": "597387d1.7175d8",
        "type": "template",
        "z": "342a5e81.ea2d92",
        "name": "TV - Home Dash",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://grafana.192.168.1.203.nip.io/playlists/play/2?kiosk=tv&autofitpanels",
        "output": "str",
        "x": 1010,
        "y": 540,
        "wires": [
            [
                "c2ed2a0b.a43308"
            ]
        ]
    },
    {
        "id": "7968fe11.57313",
        "type": "template",
        "z": "342a5e81.ea2d92",
        "name": "TV - System Dash",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://grafana.192.168.1.203.nip.io/playlists/play/1?kiosk=tv&autofitpanels",
        "output": "str",
        "x": 1010,
        "y": 620,
        "wires": [
            [
                "c2ed2a0b.a43308"
            ]
        ]
    },
    {
        "id": "c2ed2a0b.a43308",
        "type": "mqtt out",
        "z": "342a5e81.ea2d92",
        "name": "",
        "topic": "lgtv/set/open_max",
        "qos": "",
        "retain": "",
        "broker": "87b9b09.9bbcf5",
        "x": 1290,
        "y": 580,
        "wires": []
    }
]